@{
    ViewBag.Title = "Change";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="/Scripts/site.js"></script>
    <title>HighStock example</title>

    <script type="text/javascript">
        $(document).ready(function () {
            chartInitialize("GBPEUR", "changeChart", '@Url.Action("GetSerie", "Home", new { name = "GBPEUR" }) ');
        });

        function MAJChart() {

            var select = document.getElementById("change");
            var nom = select.options[select.selectedIndex].value;

            if (nom == "GBPEUR") {
                chartUpdate("GBPEUR", "changeChart", '@Url.Action("GetSerie", "Home", new { name = "GBPEUR" }) ');
            }

            if (nom == "USDEUR") {
                chartUpdate("USDEUR", "changeChart", '@Url.Action("GetSerie", "Home", new { name = "USDEUR" }) ');
            }

            if (nom == "HKDEUR") {
                chartUpdate("HKDEUR", "changeChart", '@Url.Action("GetSerie", "Home", new { name = "HKDEUR" }) ');
            }

            if (nom == "JPYEUR") {
                chartUpdate("JPYEUR", "changeChart", '@Url.Action("GetSerie", "Home", new { name = "JPYEUR" }) ');
            }

            if (nom == "AUDEUR") {
                chartUpdate("AUDEUR", "changeChart", '@Url.Action("GetSerie", "Home", new { name = "AUDEUR" }) ');
            }

        };
    </script>
</head>
<body>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    <select id="change">
        <option value="GBPEUR" selected>GBP/EUR</option>
        <option value="USDEUR">USD/EUR</option>
        <option value="HKDEUR">HKD/EUR</option>
        <option value="JPYEUR">JPY/EUR</option>
        <option value="AUDEUR" >AUD/EUR</option>
    </select>
    <button onclick="MAJChart()">Mettre à jour</button>
    <div id="changeChart" style="height: 550px"></div>


</body>

</html>