@{
    ViewBag.Title = "Historique";
}


    <script type="text/javascript">
    $(document).ready(function () {
        chartInitialize("SP500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "SP500" }) ');
    });

        function MAJChart() {
            var select = document.getElementById("cours");
            var nom = select.options[select.selectedIndex].value;

       if (nom == "SP500") {
           chartUpdate("SP500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "SP500" }) ');
        }

        if (nom == "EuroStoxx500") {
            chartUpdate("EuroStoxx500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "EuroStoxx500" }) ');
        }

        if (nom == "FTSE100") {
            chartUpdate("FTSE100", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "FTSE100" }) ');
        }

        if (nom == "HangSeng") {
            chartUpdate("HangSeng", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "HangSeng" }) ');
        }

        if (nom == "Nikkei225") {
            chartUpdate("Nikkei225", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "Nikkei225" }) ');
        }

        if (nom == "EuroStoxx500") {
            chartUpdate("EuroStoxx500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "EuroStoxx500" }) ');
        }

            if (nom == "SPASX200") {
                chartUpdate("SPASX200", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "SPASX200" }) ');
            }

            if (nom == "ZCEURO") {
                chartUpdate("ZCEURO", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "ZCEURO" }) ');
            }

    };
    </script>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Historique
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Multimonde 2021", "Index", "Home")
                    </li>
                    <li>Historique</li>
                </ol>
            </div>
        </div>
        @*<hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>*@


    <select id="cours">
        <option value="HangSeng">HangSeng</option>
        <option value="Nikkei225">Nikkei225</option>
        <option value="SPASX200">SPASX200</option>
        <option value="EuroStoxx500">EuroStoxx500</option>
        <option value="FTSE100">FTSE100</option>
        <option value="SP500" selected>S&P500</option>
        <option value="ZCEURO" selected>Zéro Coupon Européen</option>
    </select>
    <button onclick="MAJChart()">Mettre à jour</button>
<div id="stockChart" style="height: 550px"></div>
</div>