@{
    ViewBag.Title = "Historique";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="/Scripts/site.js"></script>
    <title>HighStock example</title>

    <script type="text/javascript">
    $(document).ready(function () {
        chartInitialize("SP500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "SP500" }) ');
    });

        function MAJChart() {

            var nom = $('input[name=cours]:checked').val();

       if (nom == "SP500") {
           chartUpdate("SP500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "SP500" }) ');
        }

        if (nom == "EuroStoxx500") {
            chartUpdate("EuroStoxx500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "EuroStoxx500" }) ');
        }

        if (nom == "FTSE100") {
            chartUpdate("FTSE100", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "FTSE100" }) ');
        }

        if (nom == "HangSeng") {
            chartUpdate("HangSeng", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "HangSeng" }) ');
        }

        if (nom == "Nikkei225") {
            chartUpdate("Nikkei225", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "Nikkei225" }) ');
        }

        if (nom == "EuroStoxx500") {
            chartUpdate("EuroStoxx500", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "EuroStoxx500" }) ');
        }

            if (nom == "SPASX200") {
                chartUpdate("SPASX200", "stockChart", '@Url.Action("GetSerie", "Home", new { name = "SPASX200" }) ');
            }

    };
    </script>
</head>
<body>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
    <div>
        <form>
            <input type="radio" name="cours" value="HangSeng"> HangSeng
            <input type="radio" name="cours" value="Nikkei225"> Nikkei225
            <input type="radio" name="cours" value="SPASX200"> SPASX200
            <input type="radio" name="cours" value="EuroStoxx500"> EuroStoxx500
            <input type="radio" name="cours" value="FTSE100"> FTSE100
            <input type="radio" name="cours" value="SP500" checked> S&P500                
        </form>
    </div>
    <button onclick="MAJChart()">Mettre à jour</button>
<div id="stockChart" style="height: 550px"></div>
   

</body>

</html>