@{
    ViewBag.Title = "Pricer";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Prix du Multimonde
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Multimonde 2021", "Index", "Home")
                </li>
                <li>Prix du Multimonde</li>
            </ol>
        </div>
    </div>

    <h4>
        Pour pricer le produit, vous devez d'abord préciser la date du début du pricing puis appuyer sur le bouton Pricer.
    </h4>


    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <p>Date de début de Calcul :</p>
            @Html.TextBox("Date")
            <p>Prix obtenu : </p>
            @using (Html.BeginForm())
            {
                object prixMultimonde;
                if (@ViewData.TryGetValue("prixMultimonde", out prixMultimonde))
                {
                    <div>@prixMultimonde.ToString()</div>
                }
                else
                {
                    <div>0.00</div>
                }
            }

        </div>
        <div class="col-lg-4 col-md-4">
            @Html.ActionLink("Pricer", "Index", new { id = -1 }, new { @class = "btn btn-primary" })
        </div>
    </div>

</div>
<script type="text/javascript" charset="utf-8">
    /*function price() {
        $(document).find("div.price").children()[1].style.visibility = "visible"
    }

    function initialize() {
        document.getElementById("boutonPrice").addEventListener("click", price, false);
    }

    window.addEventListener("load", initialize, false);*/
</script>
